/*  WAYBAR STYLE CONFIG */


* {
    font-family: "Iosevka Term Medium";
    font-size: 15px;
    color: white;
    min-height: 0;
}

/*
[class*="sep"] {
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    height: 18px;
    margin: auto 10px;
   padding: 0;
}
*/

window#waybar {
    background: transparent;
    /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);*/
}

#clock {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid rgba(255, 127, 50, 0.9);
    border-radius: 24px;
    padding: 2px 12px;
    background-color: rgba(30, 30, 35, 0.2);
}

#workspaces {
}

#network{
    border: 2px solid rgba(255, 127, 50, 0.9);
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 24px;
    padding: 2px 12px;
    color: rgba(150, 255, 150, 1);
    background-color: rgba(30, 30, 35, 0.2);
}

#pulseaudio {
    border: 2px solid rgba(255, 127, 50, 0.9);
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 24px;
    padding: 2px 12px;
    background-color: rgba(30, 30, 35, 0.2);
}

#bluetooth {

}

#workspaces button {
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 3px;
    border: 2px solid rgba(255, 127, 50, 0.9);
    border-radius: 24px;
    padding: 0px 10px;
    background-color: rgba(30, 30, 35, 0.2);
    
}

#battery {
    font-size: inherit;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid rgba(255, 127, 50, 0.9);
    border-radius: 24px;
    padding: 2px 12px;
    background-color: rgba(30, 30, 35, 0.2);
}



#network.wifi,
#network.ethernet {
    color: rgba(150, 255, 200, 1);
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 5px;
    background-color: rgba(30, 30, 35, 0.2);
}

#network.disconnected {
    color: #e74c3c;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 5px;
    background-color: rgba(30, 30, 35, 0.2);
}


#workspaces button:hover,
#network.wifi:hover,
#network.ethernet:hover,
#network.disconnecter:hover,
#pulseaudio:hover,
#clock:hover {
    box-shadow: 0 2px 8px rgba(255, 127, 50, 0.4);
    box-shadow: inset 0 0 6px rgba(255, 127, 50, 0.6);
}
