/*  WAYBAR STYLE CONFIG */


* {
    font-family: "Hack Nerd Font Mono";
    font-size: 15px;
    color: white;
}

window#waybar {
    background: transparent;
}

#custom-waybar-media {
    border: 2px solid rgba(255, 127, 50, 0.9);
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 10px;
    border-radius: 14px;
    padding: 2px 12px;
    background-color: rgba(30, 30, 35, 0.6);
}

tooltip {
    background: rgba(30, 30, 35, 0.6);
    border: 1px solid rgba(255, 127, 50, 0.9);
    border-radius: 5;
}


#custom-power {
    border: 2px solid rgba(255, 127, 50, 0.9);
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 10px;
    border-radius: 14px;
    padding: 2px 12px;
    background-color: rgba(30, 30, 35, 0.6);
}

#custom-display {
    font-size: 24px;
    border: 2px solid rgba(255, 127, 50, 0.9);
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 0px;
    border-radius: 14px;
    padding: 2px 12px;
    background-color: rgba(30, 30, 35, 0.6);
}

#clock {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid rgba(255, 127, 50, 0.9);
    border-radius: 14px;
    padding: 2px 12px;
    background-color: rgba(30, 30, 35, 0.6);
}

#workspaces {
    border: 2px solid rgba(255, 127, 50, 0.9);
    border-radius: 14px;
    padding: 0 5px;
    background-color: rgba(30, 30, 35, 0.6);
}

#network{
    border: 2px solid rgba(255, 127, 50, 0.9);
    font-size: 24px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 14px;
    padding: 2px 12px;
    color: rgba(150, 255, 150, 1);
    background-color: rgba(30, 30, 35, 0.6);
}


#pulseaudio {
    border: 2px solid rgba(255, 127, 50, 0.9);
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 14px;
    padding: 2px 12px;
    background-color: rgba(30, 30, 35, 0.6);
}

#bluetooth {

}

#workspaces button {

    background-color: rgba(30, 30, 35, 0.0);
}

#workspaces button * {
    margin-right: 2px;
    margin-left: 2px;
}


#battery {
    font-size: inherit;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid rgba(255, 127, 50, 0.9);
    border-radius: 14px;
    padding: 2px 12px;
    background-color: rgba(30, 30, 35, 0.2);
}



#network.wifi,
#network.ethernet {
    color: #ffffff;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 5px;
    background-color: rgba(30, 30, 35, 0.6);
}

#network.disconnected {
    color: #e74c3c;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 5px;
    background-color: rgba(30, 30, 35, 0.6);
}

#workspaces button.active {
    font-weight: bold;
}

#workspaces button.active * {
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-family: inherit;
    color: orange;
}

#window {
    border: 2px solid rgba(255, 127, 50, 0.9);
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 14px;
    padding: 2px 12px;
    color: rgba(150, 255, 150, 1);
    background-color: rgba(30, 30, 35, 0.6);
}

#network.wifi:hover,
#network.ethernet:hover,
#networkk.disconnected:hover,
#custom-display:hover {

    color: orange;
    font-size: 24px;
    text-shadow: 0px 0px 1px orange;
}

#window:hover *,
#workspaces button:hover.active *,
#workspaces button:hover:not(.active) * ,
#workspaces button.active:hover,
#custom-power:hover,
#workspaces button * :hover,
#pulseaudio:hover,
#clock:hover {
    /*box-shadow: 0 2px 8px rgba(255, 127, 50, 0.4);
    box-shadow: inset 0 0 6px rgba(255, 127, 50, 0.6);*/
    color: orange;
    font-size: 16px;
    text-shadow: 0px 0px 1px orange;
}
