
* {
    font-family: "Iosevka Term Medium";
    font-size: 16px;
}
    
window {
    margin: 0px;
    border: none;
    background-color: rgba(10, 13, 18, 0.9);
    border-radius: 10px;
}

#input {
    margin: 5px;
    border: 1px solid rgba(255, 127, 50, 0.8);
    background-color: rgba(46, 46, 62, 0.1);
    color: #ffffff;
    border-radius: 5px;
    padding: 8px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #ffffff;
}

#entry:selected {
    background-color: rgba(255, 127, 50, 0.7);
    color: #000000;
}

#entry:hover {
    background-color: rgba(46, 46, 62, 0.7);
}
