
* {
    font-family: "Iosevka Term Medium";
    font-size: 16px;
}
    
window {
    margin: 0px;
    border: none;
    background-color: #111118;
    border-radius: 10px;
}

#input {
    margin: 5px;
    border: 2px solid #c9d2f0;
    background-color: #111118;
    color: #c9d2f2;
    border-radius: 10px;
    padding: 8px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #c9d2f0;
}

#entry:selected {
    border-radius: 10px;
    color: #111118;
    border: 2px solid #c9d2f0;
    background-color: transparent;
}



#entry:hover {
}
